.handle-controllers{
    .disable-selection();
    position:absolute;
    top:0;
    width:100%;
    height: auto;
    background: @wrapBarBackground;

    & .size-controller{
        float: right;
        padding: 5px;
        margin: 5px;
        font-size: 10px;
        text-decoration: none;
        color: @sizeControllerColor;
        background: @sizeControllerBg;
        font-weight: bold;
        .rounded(4px);

        &:before{
            content:'EXPANDIR';
        }

        &.sz-collapse:before{
            content: 'MINIMIZAR';
        }
    }

    & .close-controller{
        float: right;
        padding: 5px;
        margin: 5px;
        font-size: 10px;
        text-decoration: none;
        color: @sizeControllerColor;
        background: @sizeControllerBg;
        font-weight: bold;
        .rounded(4px);

        &:before{
            content:'\00d7'; // &times;
        }
    }
}
